.header {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.links {
  list-style: none;
  display: flex;
  color: var(--color-font-light);
}
.link a {
  text-decoration: none;
  color: var(--color-font-light);
  padding: 0 0.5em 1em 0.5em;
  margin-right: 2em;
}
.link a.active {
  border-bottom: 1px solid var(--color-font-light);
}
.link a:hover {
  color: #111;
}
