.form {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 2rem;
}
.input {
  margin-bottom: 1rem;
}
.input label {
  display: block;
  margin-bottom: 0.5rem;
}
.input input,
.input textarea {
  display: block;
  width: 100%;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
