.footer {
  font-family: var(--typography-heading);
  background-color: var(--color-secondary);
  color: var(--color-font-light);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  text-align: center;
}
.links a {
  color: var(--color-font-light);
}
